---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">단지정보</h3>

<p><img src="/assets/images/view.jpg" alt="조감도" /></p>

<p>마포한화오벨리스크는 마포역과 직접 연결된 주상복합 단지입니다.</p>

<p>뛰어난 교통여건, 주변환경, 교육여건, 미래가치를 확인하세요.<p>

<p><a href="/about/" class="btn btn--success btn--large">자세히 보기</a></p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
