---
layout: archive
---

{{ content }}

<h1 class="">마포 한화 오벨리스크</h1>
<!-- <h3 class="archive__subtitle">단지정보</h3> -->

<p><a href="/about/#입지"><img src="/assets/images/view.jpg" alt="조감도" /></a></p>

<p>마포 한화 오벨리스크는 마포역과 직접 연결된 주상복합 단지입니다.</p>

<p>뛰어난 교통여건, 주변환경, 교육여건, 미래가치를 확인하세요.<p>

<p><a href="/about/#입지" class="btn btn--warning btn--large">자세히 보기</a></p>

<div style="clear:both; height:50px;"> </div>

<table>
  <thead>
    <tr>
      <th>항목</th>
      <th>설명</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>주소</td>
      <td>서울특별시 마포구 마포대로 33 (도화동 555번지)</td>
    </tr>
    <tr>
      <td>입주</td>
      <td>2004년 10월</td>
    </tr>
    <tr>
      <td>세대수</td>
      <td>1288세대</td>
    </tr>
    <tr>
      <td>주차대수</td>
      <td>971대</td>
    </tr>
    <tr>
      <td>난방</td>
      <td>도시가스 개별난방</td>
    </tr>
    <tr>
      <td>시공사</td>
      <td>(주)한화건설</td>
    </tr>
  </tbody>
</table>

<p><a href="/about/#사업개요" class="btn btn--warning btn--large">자세히 보기</a></p>

<div style="clear:both; height:50px;"> </div>


<h3 class="archive__subtitle">구해줘 홈즈</h3>

<p><a href="/tv/구해줘-홈즈/"><img src="/assets/images/posts/구04.jpg" alt="구해줘 홈즈" /></a></p>

<p><a href="/tv/구해줘-홈즈/" class="btn btn--warning btn--large">자세히 보기</a></p>

<div style="clear:both; height:50px;"> </div>


<h3 class="archive__subtitle">인테리어 후기</h3>

<p><a href="/blog/리모델링-후기/"><img src="/assets/images/posts/리305.jpg" alt="29평 인테리어후기" /></a></p>

<p><a href="/blog/리모델링-후기/" class="btn btn--warning btn--large">자세히 보기</a></p>

<div style="clear:both; height:50px;"> </div>


<h3 class="archive__subtitle">사진첩</h3>

<p><a href="/gallery/"><img src="/assets/images/gallery/조01.jpg" alt="조망" /></a></p>

<p><a href="/gallery/" class="btn btn--warning btn--large">자세히 보기</a></p>

<div style="clear:both; height:50px;"> </div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
